@import "tailwindcss";


/* navLink  */
a.active {
  color: #ee78d0; 
}

@media  (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
    text-decoration: none;
    border: none;
  }
  
}

